@model IEnumerable<ChancelleryShop.ProductToReceipt>

@{
    ViewData["Title"] = "Index";
}

<h1 class="important text-center">Покупка товаров</h1>

<p class="text-center" style="font-weight:bold;">
    <a asp-action="Create">Добавить покупку</a>
</p>
<table class="table">
    <thead class="important">
        <tr>
            <th>
                Чек
            </th>
            <th>
                Товар
            </th>
            <th>
                Количество
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Receipt.ReceiptId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductToReceiptId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ProductToReceiptId">Детально</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductToReceiptId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
