@model ChancelleryShop.Product

@{
    ViewData["Title"] = "Delete";
}

<h1 class="important"><img class="delete" src="https://static8.depositphotos.com/1338574/828/i/600/depositphotos_8282011-stock-photo-badge-exclamation-point.jpg" /> Удаление</h1>

<h3 style="color: #1a3cb7">Вы уверены что хотите удалить это?</h3>
<div>
    <hr style="font-weight:bold"/>
    <h1 class="important">@Html.DisplayFor(model => model.ProductName) </h1>
    <span class="id">код товара: @Html.DisplayFor(model => model.ProductId)</span>
    <div>
        <div>
            <h4 class="important">Цена: <span id="cost">@Html.DisplayFor(model => model.Price) грн</span></h4>
        </div>
        <div>
            <div>
                <span class="important">Категория:</span>
                <span>@Html.DisplayFor(model => model.Category.CategoryName)</span>
            </div>
            <div>
                <span class="important">Описание:</span>
                <span>@Html.DisplayFor(model => model.ProductDescription)</span>
            </div>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <div>
            <img class="back" src="https://images.clipartlogo.com/files/images/43/437274/arrow-blue-left-clip-art_f.jpg" />
            <a class="buttons" asp-action="Index">Назад</a>
        </div>
    </form>
</div>
