@model ChancelleryShop.Product

    @{
        ViewData["Title"] = "Details";
    }
<div>
    <img class="back" src="https://images.clipartlogo.com/files/images/43/437274/arrow-blue-left-clip-art_f.jpg" />
    <a class="buttons" asp-action="Index">Назад</a>
</div>

    <h1 class="important">@Html.DisplayFor(model => model.ProductName) </h1>
    <span class="id">код товара: @Html.DisplayFor(model => model.ProductId)</span>
    <div>
        <div style="text-align:center;">
            <img style="height:400px;width:300px" src="@Model.ProductImage" />
        </div>
        <div>
            <h4 class="important">Цена: <span id="cost">@Html.DisplayFor(model => model.Price) грн</span></h4>
        </div>
        <div>
            <div>
                <span class="important">Категория:</span>
                <span>@Html.DisplayFor(model => model.Category.CategoryName)</span>
            </div>
            <div>
                <span class="important">Описание:</span>
                <span>@Html.DisplayFor(model => model.ProductDescription)</span>
            </div>
        </div>
    </div>
    <div>
        <a class="buttons" asp-action="Edit" asp-route-id="@Model.ProductId">Изменить</a>
    </div>
    <div>
        <img class="back" src="https://images.clipartlogo.com/files/images/43/437274/arrow-blue-left-clip-art_f.jpg" />
        <a class="buttons" asp-action="Index">Назад</a>
    </div>
