@model IEnumerable<ChancelleryShop.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 class="important text-center">Каталог товаров</h1>

<p class="text-center">
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <div class="rectangle">
                <div class="text-center">
                    <img class="rectangleImg" src="@item.ProductImage" />
                </div>
                <div class="text-center rectangleName">@Html.DisplayFor(modelItem => item.ProductName)</div>
                <div>
                    <span class="rectanglePrice">@Html.DisplayFor(modelItem => item.Price) грн </span>
                    <a class="rectangleDetails" asp-action="Details" asp-route-id="@item.ProductId">Смотреть</a>
                </div>
                <div class="text-center rectangleButtons">
                    <a id="edit" asp-action="Edit" asp-route-id="@item.ProductId">Изменить  </a> 
                    <a id="delete" asp-action="Delete" asp-route-id="@item.ProductId">  Удалить</a>
                </div>
            </div>

        }
    </tbody>
</table>
